{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="panel panel-default post">
		<div class="panel-heading post-heading">
			<div class="post-title">
				{{p.subject}}
			</div>
			<div class="post-date">
				{{p.created.strftime("%b %d, %Y")}}
			</div>
		</div>
		<div class="panel-body panel-style">
			<div class="post-content">
				{{p.content.replace('\n', '<br>') | safe}}
			</div>
		</div>
		<div class="panel-footer footer-style">
			<form method="post" action="/postcomment/{{p.key().id()}}" class="form-style">
				<input type="text" name="content"  value="{{comment.content}}">{{comment.content}}</input><br>
				<button type="submit" class="btn btn-default btn-primary btn-md element-margin">Post</button>
				<a type="submit" class="btn btn-default btn-primary btn-md element-margin" href="/blog">Cancel</a>
			</form>
		</div>
	</div>
</div>
<br>
<div>

</div>
</div>

{% endblock %}